*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
body{
    background-color: #777777;
}
header{
    background: linear-gradient(to right, #0000CD, #00BFFF);
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
    padding-top: 2rem;
    position: fixed;
    width: 100%;
    height: 100px;
}
footer{
    background: linear-gradient(to right, #0000CD, #00BFFF);
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.conteudo{
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1.5rem;
    text-align: justify;
    margin: 0 auto;
    max-width: 95%;
}
.conteudo-topo{
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1.5rem;
    text-align: center;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-top: 3rem;
    position: relative;
    z-index: 1;
    border-radius: 20px;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.9rem;
}
h3{
    font-size: 1.7rem;
}
h4{
    font-size: 1.6rem;
}
figure{
    text-align: center;
}
.imagens-site{
    border-radius: 10px;
    width: 20%;
    height: 5%;
}
@media(min-width: 280px) and (max-width: 820px){
    .imagens-site{
        border-radius: 10px;
        width: 20%;
        height: 5%;
    }
}
#grid-conteudo{
    background-color: #777777;

}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}
.grid div{
    background-color: #fff;
    text-align: center;
    padding: 2px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgb(40, 150, 40);
    padding: 10px;
    border-radius: 20px;
}
a:hover{
    color: black;
    border: solid;
    background-color: rgb(20, 200, 20);
}